<ion-view class="has-footer">
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
  <ion-content overflow-scroll="false">
      <div class="bar bar-header bar-default">
       <div class="h1 title">  {{selectedBusiness.name}}</div>
      </div>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><button on-tap="hello()" >asdsad</button>
        <div class="item item-divider">Reviews</div>
        <div class="item item-divider">Similar</div>
    </ion-content>

    <ion-footer-bar class="bar-clear"></ion-footer-bar>
    
</ion-view>