<div class="button-bar">
    <a class="button" href="#/zqt/top-food/">Food</a>
    <a class="button" href="#/zqt/top-nightlf/">Night Life</a>
    <a class="button" href="#/zqt/top-places/">Places</a>
    <a class="button" href="#/zqt/top-more/">More</a>
</div>

<ion-nav-view></ion-nav-view>

<div class="bar bar-footer">
    <div class="button-bar">
        <a class="button" href="#/zqt/dashboard/">Home</a>
        <a class="button" href="#/zqt/profile/">Profile</a>
        <a class="button" href="#/zqt/addreview/">Review</a>
        <a class="button" href="#/zqt/notifications/">Notifications</a>
        <a class="button" href="#/zqt/more/">More</a>
    </div>
</div>
