
<div class="bar bar-header item-input-inset">
<label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</div>

<div class="button-bar bar-positive">
    <a class="button button-raised ink-dark" href="#/srch/search/Food/">Food</a>
    <a class="button button-raised ink-dark" href="#/srch/search/Night Life/">Night Life</a>
    <a class="button button-raised ink-dark" href="#/srch/search/Places/">Places</a>
    <a class="button button-raised ink-dark" href="#/srch/top-more/">More</a>
</div>

    
<ion-tabs class="tabs-striped tabs-color-default tabs-positive" ng-controller="MainCtrl">

  <ion-tab  icon-on="ion-home" icon-off="ion-home" ui-sref="zqt.dashboard">
      <ion-nav-view name="zqt.dashboard"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-person" icon-off="ion-person" ui-sref="zqt.profile">
      <ion-nav-view name="zqt.profile"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="icon ion-disc" icon-off="icon ion-disc" ng-click="showActionSheet1()">
    <button ng-click="showActionSheet1()">  s</button>
    </ion-tab>
    
  <ion-tab  icon-on="ion-alert" icon-off="ion-alert" ui-sref="zqt.notifications">
      <ion-nav-view name="zqt.notifications"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">

  </ion-tab>
</ion-tabs>



<!--
<div class="button-bar bar-positive">
    <a class="button button-raised ink-dark" href="#/zqt/dashboard/">Home</a>
    <a class="button" href="#/zqt/profile/">Profile</a>
    <a class="button" href="#/zqt/addreview/">Add Review</a>
    <a class="button" href="#/zqt/notifications/">Notifications</a>
    <a class="button" href="#/zqt/more/">More</a>
</div>
-->


