<div class="bar bar-header item-input-inset">
  <a class="button button-clear" href="#/zqt/dashboard/">
  </a>
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</div>
 
<div class="button-bar bar-positive">
    <a class="button button-raised ink-dark" href="#/srch/top-food/">Food</a>
    <a class="button button-raised ink-dark" href="#/srch/top-nightlf/">Night Life</a>
    <a class="button button-raised ink-dark" href="#/srch/top-places/">Places</a>
    <a class="button button-raised ink-dark" href="#/srch/top-more/">More</a>
</div>

<ion-nav-view animation="no-animation"></ion-nav-view>

<!--
<div class="button-bar bar-positive">
    <a class="button button-raised ink-dark" href="#/zqt/dashboard/">Home</a>
    <a class="button" href="#/zqt/profile/">Profile</a>
    <a class="button" href="#/zqt/addreview/">Add Review</a>
    <a class="button" href="#/zqt/notifications/">Notifications</a>
    <a class="button" href="#/zqt/more/">More</a>
</div>
-->


