<ion-view class="has-footer">
    <ion-content overflow-scroll="false">
        <div class="item item-divider">Nightlife</div>
        
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="food in business" item="item" on-tap="viewbusiness(food)">
                <img src="{{food.photos[0].imageUrl}}">
                <h2>{{food.name}}</h2>
                <p>{{food.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </ion-item>
<!--
    <ion-infinite-scroll distance="2"
                     on-infinite="nearByBusinesses()"
                     ng-if="!moredata"
                     ></ion-infinite-scroll>
-->
        </ion-list>
        
        
        <div id="map" ng-hide="true"></div>
    </ion-content>
</ion-view>