<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome" >
    <ion-content overflow-scroll="true">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search Business" on-blur="">
            </label>
        </div>
        <div class="item item-divider">Food</div>

        
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="food in business" item="item" on-tap="viewbusiness(item)">
                <img src="{{food.photos[0].imageUrl}}">
                <h2>{{food.name}}</h2>
                <p>{{food.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </ion-item>
<!--
    <ion-infinite-scroll distance="2"
                     on-infinite="nearByBusinesses()"
                     ng-if="!moredata"
                     ></ion-infinite-scroll>
-->
        </ion-list>
        
        
        <div id="map" ng-hide="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>