<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome" ng-init="getBusinesses()">
    <ion-content overflow-scroll="true">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search Business" on-blur="">
            </label>
        </div>
        <div class="item item-divider">Food</div>
        <div class="list">
            
            <a class="item item-thumbnail-left" on-tap="viewbusiness(food)" collection-repeat="food in business">
                <img src="{{food.photos[0].imageUrl}}">
                <h2>{{food.name}}</h2>
                <p>{{food.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </a>

        </div>
        <div id="map" ng-hide="true"></div>
    </ion-content>
</ion-view>