<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
    <ion-content overflow-scroll="false">

        <div class="item item-divider">Popular</div>
<!--
        <ion-list>
          <ion-item class="item item-icon-left" on-tap="viewsearchcategory(pcat)" ng-repeat="pcat in popularcategories">
            <i class="icon icon ion-arrow-right-c"></i>
                {{pcat.name}}
          </ion-item>
        </ion-list>
-->
        
    

        <div class="row" ng-repeat="pcat in popularcategories" ng-if="$index % 2 === 0">
            <div on-tap="viewsearchcategory(popularcategories[$index])" class="col-md-50 list card" ng-if="$index < popularcategories.length">
                  <div class="item item-text-wrap">
                    {{popularcategories[$index].name}}
                  </div>
       
            </div>
            <div on-tap="viewsearchcategory(popularcategories[$index + 1])" class="col-md-50 list card" ng-if="$index + 1 < popularcategories.length">
                 <div class="item item-text-wrap">
                {{popularcategories[$index + 1].name}}
                </div>
            </div>
        </div>
        <div class="item item-divider">All Categories</div>
    </ion-content>
    
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>