<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
    <ion-content overflow-scroll="false">

        <div class="item item-divider">Popular</div>
        <ion-list>
          <ion-item class="item item-icon-left" on-tap="viewsearchcategory(pcat)" ng-repeat="pcat in popularcategories">
            <i class="icon icon ion-arrow-right-c"></i>
                {{pcat.name}}
          </ion-item>
        </ion-list>
        <div class="item item-divider">All Categories</div>
    </ion-content>
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>