<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
    <ion-content overflow-scroll="true">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search Business" on-blur="">
            </label>
        </div>
        <div class="item item-divider">Nightlife</div>
        <div class="list">
            <a class="item item-thumbnail-left" on-tap="viewbusiness(nl)"  collection-repeat="nl in business">
                <img src="{{nl.photos[0].imageUrl}}">
                <h2>{{nl.name}}</h2>
                <p>{{nl.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </a>

        </div>
        <div id="map" ng-hide="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>