<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
    <ion-content overflow-scroll="false">

        <div class="item item-divider">Nightlife</div>
                <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getBusinesses()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="nl in business" item="item" on-tap="viewbusiness(nl)">
                <img src="{{nl.photos[0].imageUrl}}">
                <h2>{{nl.name}}</h2>
                <p>{{nl.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </ion-item>
        </ion-list>
        
        <div id="map" ng-hide="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>