<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
    <ion-content overflow-scroll="false">

        <div class="item item-divider">Places</div>
        
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="place in business" item="item" on-tap="viewbusiness(place)">
                <img src="{{place.photos[0].imageUrl}}">
                <h2>{{place.name}}</h2>
                <p>{{place.vicinity}}</p>
                <p>Rate: {{food.rating}}</p>
            </ion-item>
        </ion-list>
        <div id="map" ng-hide="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>