<ion-view view-title="Business" ng-init="init()">
  <ion-content>
      {{selectedBusiness.name}}
    <div id="map" data-tap-disabled="true"></div>
      <div class="button-bar">
      <a class="button" href="#/zqt/addreview/">Add Review</a>
      <a class="button">Add Photo or Video</a>
      <a class="button">Checkin</a>
    </div>
    <div class="item item-divider">Reviews</div>
      <div class="item item-body" ng-repeat="review in reviews">
            <p>{{review.user}}</p>
            <p>Rate: {{review.rating}}</p>
            <p>
              {{review.review}}
            </p>
        </div>
    <div class="item item-divider">Similar</div>
  </ion-content>
</ion-view>
