<ion-view class="has-footer">
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
  <ion-content overflow-scroll="false">
      <div class="bar bar-header bar-positive">
       <div class="h1 title">  {{selectedBusiness.name}}</div>
      </div>

      
      <div class="hero" style="background-image: url('{{selectedBusiness.photos[0].imageUrl}}'); background-size:cover;">

</div>
<!--
<div id="map" data-tap-disabled="true"></div>
 
      <map on-create="mapCreated(map)" data-tap-disabled="true"></map>
-->

      <button class="button button-block button-positive" href="#/zblk/addreview/">
        Write a review
      </button>
      <div class="button-bar">
        <button class="button icon-left ion-home button-balanced" href="#/zblk/addphotovideo/">Add Photo or Video</button>
        <button class="button icon-right ion-star button-energized" href="#/zblk/checkin/">Checkin</button>
    </div>
    <div class="item item-divider">Reviews</div>
      <div class="item item-body" ng-repeat="review in reviews">
            <p>{{review.user}}</p>
            <p>Rate: {{review.rating}}</p>
            <p>
              {{review.review}}
            </p>
        </div>
    <div class="item item-divider">Similar</div>
  </ion-content>
    
  <ion-footer-bar class="bar-clear"></ion-footer-bar>
</ion-view>

