<ion-view class="has-footer" ng-init="getBusinesses()">
    <ion-content overflow-scroll="false">

         <ion-list>
             <ion-item class="list card" ng-repeat="bn in dashboarditems" item="item" on-tap="viewbusiness(bn)">
      <div class="item item-avatar">
        <img src="">
        <h2>{{bn.name}}</h2>
        <p>{{bn.vicinity}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{bn.photos[0].imageUrl}}">
        <p>
        </p>
      </div>
             </ion-item>
         </ion-list>
        
           <ion-list>

      </ion-list>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        
        
            <ion-infinite-scroll distance="2"
                     on-infinite="nearByBusinesses()"
                     ng-if="!moredata"
                     ></ion-infinite-scroll>

      <div id="map" ng-hide=true></div>
      
              <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getBusinesses()">
        </ion-refresher>
  </ion-content>
    
</ion-view>
       
