<ion-view class="has-footer" ng-init="getBusinesses()">
    <ion-content overflow-scroll="false">
      
     <div class="list card" class="item item-thumbnail-left" ng-repeat="bn in dashboarditems" item="item" on-tap="viewbusiness(bn)">
      <div class="item item-avatar">
        <img src="">
        <h2>{{bn.name}}</h2>
        <p>{{bn.vicinity}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{bn.photos[0].imageUrl}}">
        <p>
        </p>
      </div>

    </div>
      <div id="map" ng-hide=true></div>
      
              <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getBusinesses()">
        </ion-refresher>
  </ion-content>
    
</ion-view>
       
